# Energy Behavior of Prosumers

Data is based on data from Kaggle competition: [Enefit - Predict Energy Behavior of Prosumers](https://www.kaggle.com/competitions/predict-energy-behavior-of-prosumers).

However, to decrease the size of the dataset we limit the data to only **one district in Estonia**.

In [1]:
import pandas as pd

In [2]:
data_file = "data.csv"

In [3]:
df = pd.read_csv(data_file)

In [4]:
df

,county,is_business,product_type,is_consumption,lowest_price_per_mwh,highest_price_per_mwh,eic_count,installed_capacity,euros_per_mwh,hours_ahead,...,year,segment,sin(dayofyear),cos(dayofyear),sin(hour),cos(hour),target,target_mean,target_std,target_ratio
0,6,1,3,0,NaN,NaN,NaN,NaN,NaN,NaN,...,2021,6_1_3_0,-0.866025,-0.500000,0.000000,1.000000,0.000,NaN,NaN,NaN
1,6,1,3,1,NaN,NaN,NaN,NaN,NaN,NaN,...,2021,6_1_3_1,-0.866025,-0.500000,0.000000,1.000000,115.243,NaN,NaN,NaN
2,6,1,3,0,NaN,NaN,NaN,NaN,NaN,NaN,...,2021,6_1_3_0,-0.866025,-0.500000,0.258819,0.965926,0.000,NaN,NaN,NaN
3,6,1,3,1,NaN,NaN,NaN,NaN,NaN,NaN,...,2021,6_1_3_1,-0.866025,-0.500000,0.258819,0.965926,125.407,NaN,NaN,NaN
4,6,1,3,0,NaN,NaN,NaN,NaN,NaN,NaN,...,2021,6_1_3_0,-0.866025,-0.500000,0.500000,0.866025,0.000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30611,6,1,3,1,29.0,34.0,17.0,540.0,82.10,43.0,...,2023,6_1_3_1,0.522133,-0.852864,-0.707107,0.707107,132.470,110.447170,37.930020,0.901355
30612,6,1,3,0,29.0,34.0,17.0,540.0,82.09,44.0,...,2023,6_1_3_0,0.522133,-0.852864,-0.500000,0.866025,0.002,0.003167,0.001941,3.000000
30613,6,1,3,1,29.0,34.0,17.0,540.0,82.09,44.0,...,2023,6_1_3_1,0.522133,-0.852864,-0.500000,0.866025,114.667,98.548500,22.470007,0.756723
30614,6,1,3,0,29.0,34.0,17.0,540.0,-1.29,45.0,...,2023,6_1_3_0,0.522133,-0.852864,-0.258819,0.965926,0.000,0.002667,0.001751,4.000000
30615,6,1,3,1,29.0,34.0,17.0,540.0,-1.29,45.0,...,2023,6_1_3_1,0.522133,-0.852864,-0.258819,0.965926,84.841,81.883670,9.857891,0.788411

In [11]:
df.tail(4).T.head(20)

                                       30612      30613      30614      30615
county                                     6          6          6          6
is_business                                1          1          1          1
product_type                               3          3          3          3
is_consumption                             0          1          0          1
lowest_price_per_mwh                    29.0       29.0       29.0       29.0
highest_price_per_mwh                   34.0       34.0       34.0       34.0
eic_count                               17.0       17.0       17.0       17.0
installed_capacity                     540.0      540.0      540.0      540.0
euros_per_mwh                          82.09      82.09      -1.29      -1.29
hours_ahead                             44.0       44.0       45.0       45.0
temperature                        11.729009  11.729009  11.137857  11.137857
dewpoint                            5.960873   5.960873   5.725789   5.725789
cloudcover_high                     0.416247   0.416247    0.50497    0.50497
cloudcover_low                      0.020762   0.020762   0.016986   0.016986
cloudcover_mid                      0.027475   0.027475   0.031082   0.031082
cloudcover_total                    0.456015   0.456015   0.526855   0.526855
10_metre_u_wind_component           4.466786   4.466786   4.432824   4.432824
10_metre_v_wind_component             -2.069     -2.069   -2.40581   -2.40581
direct_solar_radiation              3.715556   3.715556   0.010794   0.010794
surface_solar_radiation_downwards   0.413333   0.413333        0.0        0.0

In [8]:
df.describe().T.head(20)

,count,mean,std,min,25%,50%,75%,max
county,30616.0,6.000000,0.000000,6.000000,6.000000,6.000000,6.000000,6.000000
is_business,30616.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
product_type,30616.0,3.000000,0.000000,3.000000,3.000000,3.000000,3.000000,3.000000
is_consumption,30616.0,0.500000,0.500008,0.000000,0.000000,0.500000,1.000000,1.000000
lowest_price_per_mwh,30568.0,95.043430,47.519296,28.100000,60.000000,85.210000,109.000000,250.000000
highest_price_per_mwh,30568.0,107.761765,54.705051,34.000000,67.530000,93.470000,130.740000,305.000000
eic_count,30520.0,11.138467,5.570282,6.000000,6.000000,8.000000,17.000000,21.000000
installed_capacity,30520.0,465.133047,153.600854,324.200000,324.200000,388.700000,572.200000,771.700000
euros_per_mwh,30564.0,157.102990,121.138700,-10.060000,85.290000,128.295000,199.800000,4000.000000
hours_ahead,30564.0,36.000589,6.492352,24.000000,31.000000,36.000000,41.000000,47.000000
temperature,30564.0,5.731328,7.592900,-15.562449,-0.118966,5.058220,10.845191,26.905030
dewpoint,30564.0,2.374434,6.886462,-18.072462,-2.545148,1.797347,6.984467,18.968996
cloudcover_high,30564.0,0.391339,0.334813,0.000000,0.072573,0.323123,0.671974,1.000001
cloudcover_low,30564.0,0.432170,0.352740,0.000000,0.084961,0.368924,0.774115,1.000006
cloudcover_mid,30564.0,0.355117,0.317489,0.000000,0.066386,0.268816,0.600567,1.000004
cloudcover_total,30564.0,0.678276,0.310240,0.000000,0.434417,0.772386,0.971043,1.000007
10_metre_u_wind_component,30564.0,1.210497,3.505286,-8.795329,-1.350128,1.566116,3.771957,12.227717
10_metre_v_wind_component,30564.0,0.697685,3.695644,-12.415464,-1.853465,0.816260,3.379659,11.105042
direct_solar_radiation,30564.0,152.858103,235.973698,-0.069246,0.000000,0.986652,256.341060,881.398100
surface_solar_radiation_downwards,30564.0,111.481326,183.269544,-0.031706,0.000000,1.140491,155.430880,799.873960

In [12]:
list(df.columns)

['county',
 'is_business',
 'product_type',
 'is_consumption',
 'lowest_price_per_mwh',
 'highest_price_per_mwh',
 'eic_count',
 'installed_capacity',
 'euros_per_mwh',
 'hours_ahead',
 'temperature',
 'dewpoint',
 'cloudcover_high',
 'cloudcover_low',
 'cloudcover_mid',
 'cloudcover_total',
 '10_metre_u_wind_component',
 '10_metre_v_wind_component',
 'direct_solar_radiation',
 'surface_solar_radiation_downwards',
 'snowfall',
 'total_precipitation',
 'hours_ahead_fl',
 'temperature_fl',
 'dewpoint_fl',
 'cloudcover_high_fl',
 'cloudcover_low_fl',
 'cloudcover_mid_fl',
 'cloudcover_total_fl',
 '10_metre_u_wind_component_fl',
 '10_metre_v_wind_component_fl',
 'direct_solar_radiation_fl',
 'surface_solar_radiation_downwards_fl',
 'snowfall_fl',
 'total_precipitation_fl',
 'hours_ahead_fd_7d',
 'temperature_fd_7d',
 'dewpoint_fd_7d',
 'cloudcover_high_fd_7d',
 'cloudcover_low_fd_7d',
 'cloudcover_mid_fd_7d',
 'cloudcover_total_fd_7d',
 '10_metre_u_wind_component_fd_7d',
 '10_metre_v_wind_component_fd_7d',
 'direct_solar_radiation_fd_7d',
 'surface_solar_radiation_downwards_fd_7d',
 'snowfall_fd_7d',
 'total_precipitation_fd_7d',
 'hours_ahead_fl_7d',
 'temperature_fl_7d',
 'dewpoint_fl_7d',
 'cloudcover_high_fl_7d',
 'cloudcover_low_fl_7d',
 'cloudcover_mid_fl_7d',
 'cloudcover_total_fl_7d',
 '10_metre_u_wind_component_fl_7d',
 '10_metre_v_wind_component_fl_7d',
 'direct_solar_radiation_fl_7d',
 'surface_solar_radiation_downwards_fl_7d',
 'snowfall_fl_7d',
 'total_precipitation_fl_7d',
 'temperature_hd_2d',
 'dewpoint_hd_2d',
 'rain',
 'snowfall_hd_2d',
 'surface_pressure',
 'cloudcover_total_hd_2d',
 'cloudcover_low_hd_2d',
 'cloudcover_mid_hd_2d',
 'cloudcover_high_hd_2d',
 'windspeed_10m',
 'winddirection_10m',
 'shortwave_radiation',
 'direct_solar_radiation_hd_2d',
 'diffuse_radiation',
 'temperature_hl_2d',
 'dewpoint_hl_2d',
 'rain_hl_2d',
 'snowfall_hl_2d',
 'surface_pressure_hl_2d',
 'cloudcover_total_hl_2d',
 'cloudcover_low_hl_2d',
 'cloudcover_mid_hl_2d',
 'cloudcover_high_hl_2d',
 'windspeed_10m_hl_2d',
 'winddirection_10m_hl_2d',
 'shortwave_radiation_hl_2d',
 'direct_solar_radiation_hl_2d',
 'diffuse_radiation_hl_2d',
 'temperature_hd_7d',
 'dewpoint_hd_7d',
 'rain_hd_7d',
 'snowfall_hd_7d',
 'surface_pressure_hd_7d',
 'cloudcover_total_hd_7d',
 'cloudcover_low_hd_7d',
 'cloudcover_mid_hd_7d',
 'cloudcover_high_hd_7d',
 'windspeed_10m_hd_7d',
 'winddirection_10m_hd_7d',
 'shortwave_radiation_hd_7d',
 'direct_solar_radiation_hd_7d',
 'diffuse_radiation_hd_7d',
 'temperature_hl_7d',
 'dewpoint_hl_7d',
 'rain_hl_7d',
 'snowfall_hl_7d',
 'surface_pressure_hl_7d',
 'cloudcover_total_hl_7d',
 'cloudcover_low_hl_7d',
 'cloudcover_mid_hl_7d',
 'cloudcover_high_hl_7d',
 'windspeed_10m_hl_7d',
 'winddirection_10m_hl_7d',
 'shortwave_radiation_hl_7d',
 'direct_solar_radiation_hl_7d',
 'diffuse_radiation_hl_7d',
 'target_1',
 'target_2',
 'target_3',
 'target_4',
 'target_5',
 'target_6',
 'target_7',
 'target_1_all_type_sum',
 'target_2_all_type_sum',
 'target_6_all_type_sum',
 'target_7_all_type_sum',
 'day',
 'weekday',
 'month',
 'year',
 'segment',
 'sin(dayofyear)',
 'cos(dayofyear)',
 'sin(hour)',
 'cos(hour)',
 'target',
 'target_mean',
 'target_std',
 'target_ratio']